    body {
      font-family: Arial, sans-serif;
      background: #f4f7fa;
      color: #333;
      text-align: center;
      padding: 20px;
    }

    h1 {
      color: #0066cc;
    }

    #time, #SET, #Value {
      margin: 10px auto;
      padding: 15px;
      width: 500px;
      high:500px;
      border-radius: 8px;
      background: #ffffff;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      font-size: 30px;
    }
    #Live{
      margin: 10px auto;
      padding: 15px;
      width: 500px;
      high:500px;
      border-radius: 8px;
      background: #ffffff;
      box-shadow: 0 10px 15px rgba(0,0,0,0.2);
      font-size: 60px;
    }

    #Live { background: #e8f5e9; }   /* greenish */
    #SET { background: #e3f2fd; }    /* blueish */
    #Value { background: #fff3e0; }  /* orangeish */
    #time { background: #fce4ec; }   /* pinkish */
